.loading {
  position: fixed;
  top: 47%;
  bottom: 0;
  right: 0;
  left: 0;
  text-align: center;
}

.main {
  height: 100vh;
  padding: 0.5rem;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.top {
  z-index: 1;
  position: relative;
}

.logo {
  cursor: help;

  p {
    font-size: 1.23rem;
  }
}
